In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Train_rev1.csv')

In [3]:
df.head()

,Id,Title,FullDescription,LocationRaw,LocationNormalized,ContractType,ContractTime,Company,Category,SalaryRaw,SalaryNormalized,SourceName
0,12612628,Engineering Systems Analyst,Engineering Systems Analyst Dorking Surrey Sal...,"Dorking, Surrey, Surrey",Dorking,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk
1,12612830,Stress Engineer Glasgow,Stress Engineer Glasgow Salary **** to **** We...,"Glasgow, Scotland, Scotland",Glasgow,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 35000/annum 25-35K,30000,cv-library.co.uk
2,12612844,Modelling and simulation analyst,Mathematical Modeller / Simulation Analyst / O...,"Hampshire, South East, South East",Hampshire,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 40000/annum 20-40K,30000,cv-library.co.uk
3,12613049,Engineering Systems Analyst / Mathematical Mod...,Engineering Systems Analyst / Mathematical Mod...,"Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,25000 - 30000/annum 25K-30K negotiable,27500,cv-library.co.uk
4,12613647,"Pioneer, Miser Engineering Systems Analyst","Pioneer, Miser Engineering Systems Analyst Do...","Surrey, South East, South East",Surrey,NaN,permanent,Gregory Martin International,Engineering Jobs,20000 - 30000/annum 20-30K,25000,cv-library.co.uk

In [8]:
df_location = df['LocationNormalized']

In [9]:
len(df_location[:].unique())

2732

In [12]:
df_location = df_location.sort_values().unique()

In [14]:
len(df_location)

2732

In [43]:
pd.DataFrame(df_location).to_csv('location_norm.csv',index=False)

In [21]:
df_company = df['Company'].sort_values().unique()

In [22]:
len(df_company)

20813

In [26]:
df_company

array(['.', '.Michael Page Financial Services.', '1 1 Recruitment', ...,
       'xPO', 'yourSanctuary', nan], dtype=object)

In [49]:
pd.DataFrame(df_company).to_csv('company_names.csv',index= False)

In [55]:
df_1 = pd.read_csv('location_norm.csv')

In [59]:
x=list(df_1.values.tolist())

In [73]:
x[:10]

[['Abbey Village'],
 ['Abbey Wood'],
 ['Abbots Langley'],
 ['Aberaeron'],
 ['Abercynon'],
 ['Aberdare'],
 ['Aberdeen'],
 ['Aberdeenshire'],
 ['Aberfeldy'],
 ['Abergavenny']]

In [74]:
df['ContractTime'].unique()

array(['permanent', nan, 'contract'], dtype=object)